.button {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: black;
    padding-top: 5px;
    border: 1px solid gray;
    color: gold;
    margin: auto;
    margin-top: 230px;
}

.button:active {
    background-color: black;
    color: gold;
}



